
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.portfolio-about-page-D5o {
  overflow: hidden;
  flex-direction: column;
  position: relative;
  align-items: center;
  display: flex;
  background-color: #f3f3f3;
  box-sizing: border-box;
  padding: 11.2rem 16rem 4.6rem 16rem;
  width: 100%;

  .navigation-bar-tSq {
    margin: 0rem 0.038rem 21.9rem 0rem;
    width: calc(100% - 0.0378rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .site-logo-CTX {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 66.7635rem;
      width: 6.7458rem;
      height: 2.3rem;
      object-fit: contain;
    }
    .menu-vuK {
      margin-top: 0.3rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .work-Ufw {
        white-space: nowrap;
        margin-right: 3.2346rem;
        line-height: 1.2000000363;
        color: #181717;
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 2.1rem;
        font-weight: 500;
        letter-spacing: -0.063rem;
      }
      .about-Pnu {
        font-size: 2.1rem;
        font-weight: 500;
        letter-spacing: -0.063rem;
        font-family: DM Sans, 'Source Sans Pro';
        margin-right: 3.2274rem;
        line-height: 1.2000000363;
        color: #181717;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .playground-WsX {
        font-size: 2.1rem;
        font-weight: 500;
        line-height: 1.2000000363;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 3.0908rem;
        letter-spacing: -0.063rem;
        color: #181717;
        font-family: DM Sans, 'Source Sans Pro';
      }
      .contact-25B {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.1rem;
        font-weight: 500;
        line-height: 1.2000000363;
        letter-spacing: -0.063rem;
        color: #181717;
        font-family: DM Sans, 'Source Sans Pro';
      }
    }
  }
  .section-LrZ {
    margin-bottom: 17rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .about-hBK {
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 13.6rem;
      width: 100%;
      display: flex;

      .auto-group-u285-3ky {
        margin-right: 12.6rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .hi-im-mehmet-akif-karasu-3d-artist-sculptor-oVF {
          max-width: 43.8rem;
          font-size: 6rem;
          font-weight: 500;
          font-family: DM Sans, 'Source Sans Pro';
          margin-bottom: 5.6rem;
          line-height: 0.9720000585;
          letter-spacing: -0.18rem;
          color: #181717;
          flex-shrink: 0;
        }
        .my-work-is-mainly-focused-on-third-dimension-modeling-texturing-and-rendering-i-like-exploring-the-creatures-with-a-touch-of-dark-surrealism-for-characters-and-production-now-im-an-interactive-media-design-student-in-istanbul-currently-freelancing-and-seeking-internship-opportunities-UrH {
          max-width: 57.3rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.1699999571;
          letter-spacing: -0.096rem;
          color: #606060;
          font-family: DM Sans, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .profile-photo-G1T {
        width: 42.1rem;
        height: 59rem;
        position: relative;
        background-size: 111.195% 105.801%;
        background-position: -3.9447rem -3.4226rem;
        background-image: url('REPLACE_IMAGE:2d9443a53cdcdd917bc0e24fdd38c0ec707675ba');
        flex-shrink: 0;
      }
    }
    .info-w7b {
      margin-bottom: 13.4rem;
      width: 61.3rem;
      flex-shrink: 0;

      .auto-group-uvmb-HBT {
        margin-bottom: 7.2rem;
        width: 100%;
        height: 10rem;
        display: flex;
        align-items: flex-start;

        .main-software-RYZ {
          margin: 0.3rem 6.5rem 0rem 0rem;
          line-height: 1.2150000466;
          text-decoration-line: underline;
          color: #181717;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 500;
          letter-spacing: -0.054rem;
          font-family: Inter, 'Source Sans Pro';
        }
        .auto-group-zgq3-XLh {
          width: 42.6rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .pixologic-zbrush-autodesk-maya-the-foundry-mari-arnold-renderer-blender-forger-UFw {
            position: absolute;
            left: 0;
            font-size: 1.8rem;
            font-weight: 400;
            letter-spacing: -0.054rem;
            width: 42.6rem;
            height: 8.8rem;
            top: 0;
            line-height: 1.2150000466;
            color: #181717;
            font-family: Inter, 'Source Sans Pro';
          }
          .adobe-cc-figma-ableton-Low {
            left: 0.1rem;
            top: 7.8rem;
            font-size: 1.8rem;
            line-height: 1.2150000466;
            font-family: Inter, 'Source Sans Pro';
            width: 21.2rem;
            position: absolute;
            font-weight: 400;
            letter-spacing: -0.054rem;
            color: #181717;
            white-space: nowrap;
            height: 2.2rem;
          }
        }
      }
      .auto-group-z1nd-2gm {
        margin-right: 4.3rem;
        width: calc(100% - 4.3rem);
        display: flex;
        align-items: flex-start;

        .main-skills-NVj {
          line-height: 1.2150000466;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.3rem 10.1rem 0rem 0rem;
          font-size: 1.8rem;
          text-decoration-line: underline;
          color: #181717;
          white-space: nowrap;
          font-weight: 500;
          letter-spacing: -0.054rem;
        }
        .organic-and-polygonal-modeling-uv-layout-texturing-retopology-ilustration-sound-design-HMo {
          flex-shrink: 0;
          max-width: 38.3rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2150000466;
          letter-spacing: -0.054rem;
          color: #181717;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .contact-Ne9 {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .seperator-YHj {
        margin-bottom: 7.1rem;
        width: 100%;
        height: 0.2rem;
        background-color: #181717;
        flex-shrink: 0;
      }
      .auto-group-weqm-tMb {
        margin-right: 8rem;
        width: calc(100% - 8rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-npsj-dKB {
          position: relative;
          flex-shrink: 0;
          margin-right: 32.7rem;
          width: 34.2rem;
          height: 7.5rem;

          .i-am-thrilled-to-answer-to-your-next-project-kub {
            line-height: 1.1699999571;
            width: 34.2rem;
            height: 7.5rem;
            font-size: 3.2rem;
            font-weight: 400;
            letter-spacing: -0.096rem;
            color: #181717;
            font-family: DM Sans, 'Source Sans Pro';
            position: absolute;
            left: 0;
            top: 0;
          }
          .item--sDX {
            object-fit: contain;
            vertical-align: top;
            width: 2.4rem;
            height: 2.1rem;
            position: absolute;
            left: 25.9rem;
            top: 4.6rem;
          }
        }
        .auto-group-wwuf-Bzu {
          margin-top: 0.7rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .makifkarasuoutlookcom-wjB {
            letter-spacing: -0.096rem;
            color: #181717;
            flex-shrink: 0;
            margin-bottom: 2.6rem;
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.1699999571;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .view-resume-rr9 {
            letter-spacing: -0.054rem;
            color: #181717;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.2150000466;
          }
        }
      }
    }
  }
  .footer-nE1 {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 0.3442rem;

    .mehmet-akif-karasu-2020-jf3 {
      font-size: 2.1rem;
      line-height: 1.2000000363;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 53.5646rem;
      font-weight: 500;
      letter-spacing: -0.063rem;
      color: #2429af;
    }
    .artstation-3fj {
      line-height: 1.2000000363;
      letter-spacing: -0.063rem;
      font-size: 2.1rem;
      font-weight: 500;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 3.6956rem;
      color: #181717;
    }
    .linkedin-Nxu {
      color: #181717;
      font-family: DM Sans, 'Source Sans Pro';
      margin-right: 5.1956rem;
      font-weight: 500;
      letter-spacing: -0.063rem;
      flex-shrink: 0;
      font-size: 2.1rem;
      line-height: 1.2000000363;
      white-space: nowrap;
    }
    .twitter-W3X {
      color: #181717;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.1rem;
      font-weight: 500;
      line-height: 1.2000000363;
      letter-spacing: -0.063rem;
    }
  }
}
