
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.portfolio-work-page-5ZX {
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  display: flex;
  padding: 11.2rem 15.703rem 6.4rem 16rem;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  background-color: #f3f3f3;

  .navigation-bar-38y {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 0.334rem 21.9rem 0rem;
    width: calc(100% - 0.3344rem);

    .site-logo-g5T {
      margin-right: 66.7635rem;
      width: 6.7458rem;
      height: 2.3rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .menu-mMo {
      margin-top: 0.3rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .work-JsX {
        font-size: 2.1rem;
        line-height: 1.2000000363;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 3.2346rem;
        font-weight: 500;
        letter-spacing: -0.063rem;
        color: #181717;
      }
      .about-BRX {
        color: #181717;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 3.2275rem;
        line-height: 1.2000000363;
        letter-spacing: -0.063rem;
        font-size: 2.1rem;
        font-weight: 500;
        font-family: DM Sans, 'Source Sans Pro';
      }
      .playground-VBK {
        letter-spacing: -0.063rem;
        white-space: nowrap;
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 3.0908rem;
        font-size: 2.1rem;
        font-weight: 500;
        line-height: 1.2000000363;
        color: #181717;
      }
      .contact-AoF {
        letter-spacing: -0.063rem;
        color: #181717;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.1rem;
        font-weight: 500;
        line-height: 1.2000000363;
      }
    }
  }
  .section-eTX {
    margin-bottom: 19.25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .headline-zXP {
      margin-bottom: 11.3778rem;
      width: 103.6rem;
      flex-shrink: 0;

      .auto-group-kcbf-wSd {
        margin-bottom: 6.8182rem;
        width: 100%;
        display: flex;
        align-items: flex-end;

        .hello-im-mehmet-akif-HWV {
          font-size: 6rem;
          color: #181717;
          font-family: DM Sans, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 12.8rem 6rem 0rem;
          max-width: 34.8rem;
          font-weight: 500;
          line-height: 0.9720000585;
          letter-spacing: -0.18rem;
        }
        .a-senior-year-design-student-who-trying-to-specialize-in-3d-modeling-texturing-92u {
          font-family: DM Sans, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 56rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.1699999571;
          letter-spacing: -0.096rem;
          color: #000000;

          .a-senior-year-design-student-who-trying-to-specialize-in-3d-modeling-texturing-92u-sub-0 {
            letter-spacing: -0.096rem;
            color: #606060;
            font-family: DM Sans, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.1699999571;
          }
          .a-senior-year-design-student-who-trying-to-specialize-in-3d-modeling-texturing-92u-sub-1 {
            letter-spacing: -0.096rem;
            color: #000000;
            font-family: DM Sans, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.1699999571;
          }
        }
      }
      .item--wHX {
        object-fit: contain;
        vertical-align: top;
        margin-left: 0.0033rem;
        width: 3.3608rem;
        height: 3.804rem;
      }
    }
    .body-FZ7 {
      margin-bottom: 11.25rem;
      width: 100%;
      height: 47.45rem;
      border-bottom: solid 0.15rem #181717;
      box-sizing: border-box;
      flex-shrink: 0;

      .auto-group-me8m-CUM {
        width: 112rem;
        height: 36.9rem;
        display: flex;
        align-items: flex-start;

        .auto-group-d8ud-LKf {
          margin-right: 12.9rem;
          width: 35.1rem;
          height: 100%;
          flex-shrink: 0;

          .project-name-FxR {
            line-height: 1.2150000466;
            letter-spacing: -0.054rem;
            color: #181717;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2.2rem;
            font-size: 1.8rem;
            font-weight: 500;
          }
          .auto-group-k4t5-fPs {
            margin-bottom: 16.7rem;
            width: 100%;
            height: 13.6rem;
            position: relative;

            .goblin-concept-digital-sculpture-with-human-like-skin-learned-a-lot-of-quick-tips-and-look-development-PKs {
              height: 11rem;
              position: absolute;
              top: 0;
              font-size: 1.8rem;
              font-weight: 400;
              color: #181717;
              font-family: Inter, 'Source Sans Pro';
              width: 35.1rem;
              left: 0;
              line-height: 1.2150000466;
              letter-spacing: -0.054rem;

              .goblin-concept-digital-sculpture-with-human-like-skin-learned-a-lot-of-quick-tips-and-look-development-PKs-sub-0 {
                letter-spacing: -0.054rem;
                color: #181717;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.2150000466;
              }
              .goblin-concept-digital-sculpture-with-human-like-skin-learned-a-lot-of-quick-tips-and-look-development-PKs-sub-1 {
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.2150000466;
                letter-spacing: -0.054rem;
                color: #181717;
              }
            }
            .sculpted-in-zbrush-retopologized-and-uvs-done-in-maya-textured-in-mari-rendered-using-arnold-5kR {
              font-size: 1.4rem;
              line-height: 1.2150000163;
              letter-spacing: -0.042rem;
              color: #606060;
              height: 3.5rem;
              left: 0;
              top: 10.1rem;
              font-family: Inter, 'Source Sans Pro';
              width: 30.8rem;
              position: absolute;
              font-weight: 400;
            }
          }
          .link-wGq {
            color: #181717;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.2150000466;
            letter-spacing: -0.054rem;
            text-decoration-line: underline;
          }
        }
        
        .thumbnail-sAV {
          display: flex;
          justify-content: space-between;
        }
        
        .thumbnail-image {
          width: 50%; /* Adjust width as necessary */
          /* Add a small margin if you want some space between the images */
          margin-right: 1%; /* for the first image */
        }
        
        /* If you don't want a margin to the right of the second image */
        .thumbnail-sAV img:last-child {
          margin-right: 0;
        }
        
      }
    }
    .body-P8q {
      width: 100%;
      height: 47.45rem;
      border-bottom: solid 0.15rem #181717;
      box-sizing: border-box;
      flex-shrink: 0;
      margin-bottom: 11.25rem;

      .auto-group-mae9-L45 {
        position: relative;
        width: 112rem;
        height: 36.9rem;

        .project-name-fs3 {
          height: 2.2rem;
          position: absolute;
          top: 0;
          color: #181717;
          font-family: Inter, 'Source Sans Pro';
          width: 17.1rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.2150000466;
          letter-spacing: -0.054rem;
          white-space: nowrap;
          left: 0;
        }
        .subsurface-weight-specular-roughness-diffuse-maps-generated-with-the-procedure-and-manual-techniques-ZhX {
          font-family: Inter, 'Source Sans Pro';
          height: 6.6rem;
          position: absolute;
          top: 4.4rem;
          font-weight: 400;
          letter-spacing: -0.054rem;
          width: 35.2rem;
          left: 0;
          font-size: 1.8rem;
          line-height: 1.2150000466;
          color: #181717;
        }
        .link-Rzd {
          font-size: 1.8rem;
          line-height: 1.2150000466;
          text-decoration-line: underline;
          left: 0;
          height: 2.2rem;
          position: absolute;
          top: 34.7rem;
          font-weight: 500;
          letter-spacing: -0.054rem;
          color: #181717;
          font-family: Inter, 'Source Sans Pro';
          width: 14.3rem;
          white-space: nowrap;
        }
        .thumbnail-Lrh {
          width: 64rem;
          height: 36.4678rem;
          position: absolute;
          left: 48rem;
          top: 0;
          background-color: #606060;
        }
      }
    }
    .body-ecV {
      border-bottom: solid 0.15rem #181717;
      box-sizing: border-box;
      flex-shrink: 0;
      width: 100%;
      height: 47.45rem;

      .auto-group-katm-D9o {
        height: 36.9rem;
        position: relative;
        width: 112rem;

        .project-name-wrV {
          width: 17.1rem;
          line-height: 1.2150000466;
          letter-spacing: -0.054rem;
          color: #181717;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.2rem;
          position: absolute;
          left: 0;
          top: 0;
          font-size: 1.8rem;
          font-weight: 500;
        }
        .experimental-creature-modeling-for-school-project-fGh {
          letter-spacing: -0.054rem;
          color: #181717;
          font-family: Inter, 'Source Sans Pro';
          height: 8.8rem;
          left: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2150000466;
          width: 33.8rem;
          position: absolute;
          top: 4.4rem;

          .experimental-creature-modeling-for-school-project-fGh-sub-0 {
            letter-spacing: -0.054rem;
            color: #181717;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.2150000466;
          }
          .experimental-creature-modeling-for-school-project-fGh-sub-1 {
            letter-spacing: -0.054rem;
            color: #181717;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.2150000466;
          }
        }
        .link-rVb {
          width: 9.4rem;
          position: absolute;
          left: 0;
          font-size: 1.8rem;
          text-decoration-line: underline;
          white-space: nowrap;
          height: 2.2rem;
          top: 34.7rem;
          font-weight: 500;
          line-height: 1.2150000466;
          letter-spacing: -0.054rem;
          color: #606060;
          font-family: Inter, 'Source Sans Pro';
        }
        .thumbnail-Mx9 {
          background-color: #606060;
          width: 64rem;
          height: 36.4678rem;
          position: absolute;
          left: 48rem;
          top: 0;
        }
      }
    }
  }
  .footer-tBP {
    margin-right: 0.6408rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .mehmet-akif-karasu-2020-q6d {
      margin-right: 53.5647rem;
      font-size: 2.1rem;
      line-height: 1.2000000363;
      letter-spacing: -0.063rem;
      font-family: DM Sans, 'Source Sans Pro';
      flex-shrink: 0;
      font-weight: 500;
      color: #2429af;
      white-space: nowrap;
    }
    .artstation-Lp5 {
      margin-right: 3.6956rem;
      font-size: 2.1rem;
      color: #181717;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 500;
      line-height: 1.2000000363;
      letter-spacing: -0.063rem;
    }
    .linkedin-Ghj {
      margin-right: 5.1956rem;
      font-size: 2.1rem;
      line-height: 1.2000000363;
      letter-spacing: -0.063rem;
      color: #181717;
      white-space: nowrap;
      font-weight: 500;
      font-family: DM Sans, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .twitter-zdj {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.1rem;
      font-weight: 500;
      line-height: 1.2000000363;
      letter-spacing: -0.063rem;
      color: #181717;
      font-family: DM Sans, 'Source Sans Pro';
    }
  }
  .image.fit img {
    width: 10%; /* Adjust to your preference */
    height: auto; /* Keeps the aspect ratio intact */
  }
  
}
