
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.portfolio-about-page-D5o {
  box-sizing: border-box;
  padding: 11.2rem 16rem 4.6rem 16rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
}
.portfolio-about-page-D5o .navigation-bar-tSq {
  margin: 0rem 0.038rem 21.9rem 0rem;
  width: calc(100% - 0.0378rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .navigation-bar-tSq .site-logo-CTX {
  margin-right: 66.7635rem;
  width: 6.7458rem;
  height: 2.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .navigation-bar-tSq .menu-vuK {
  margin-top: 0.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .navigation-bar-tSq .menu-vuK .work-Ufw {
  margin-right: 3.2346rem;
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 1.2000000363;
  letter-spacing: -0.063rem;
  color: #181717;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .navigation-bar-tSq .menu-vuK .about-Pnu {
  margin-right: 3.2274rem;
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 1.2000000363;
  letter-spacing: -0.063rem;
  color: #181717;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .navigation-bar-tSq .menu-vuK .playground-WsX {
  margin-right: 3.0908rem;
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 1.2000000363;
  letter-spacing: -0.063rem;
  color: #181717;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .navigation-bar-tSq .menu-vuK .contact-25B {
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 1.2000000363;
  letter-spacing: -0.063rem;
  color: #181717;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .section-LrZ {
  margin-bottom: 17rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .section-LrZ .about-hBK {
  margin-bottom: 13.6rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .section-LrZ .about-hBK .auto-group-u285-3ky {
  margin-right: 12.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .section-LrZ .about-hBK .auto-group-u285-3ky .hi-im-mehmet-akif-karasu-3d-artist-sculptor-oVF {
  margin-bottom: 5.6rem;
  max-width: 43.8rem;
  font-size: 6rem;
  font-weight: 500;
  line-height: 0.9720000585;
  letter-spacing: -0.18rem;
  color: #181717;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.portfolio-about-page-D5o .section-LrZ .about-hBK .auto-group-u285-3ky .my-work-is-mainly-focused-on-third-dimension-modeling-texturing-and-rendering-i-like-exploring-the-creatures-with-a-touch-of-dark-surrealism-for-characters-and-production-now-im-an-interactive-media-design-student-in-istanbul-currently-freelancing-and-seeking-internship-opportunities-UrH {
  max-width: 57.3rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.1699999571;
  letter-spacing: -0.096rem;
  color: #606060;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.portfolio-about-page-D5o .section-LrZ .about-hBK .profile-photo-G1T {
  width: 42.1rem;
  height: 59rem;
  position: relative;
  background-size: 111.195% 105.801%;
  background-position: -3.9447rem -3.4226rem;
  background-image: url('../assets/profile-photo.png');
  flex-shrink: 0;
}
.portfolio-about-page-D5o .section-LrZ .info-w7b {
  margin-bottom: 13.4rem;
  width: 61.3rem;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .section-LrZ .info-w7b .auto-group-uvmb-HBT {
  margin-bottom: 7.2rem;
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: flex-start;
}
.portfolio-about-page-D5o .section-LrZ .info-w7b .auto-group-uvmb-HBT .main-software-RYZ {
  margin: 0.3rem 6.5rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2150000466;
  letter-spacing: -0.054rem;
  text-decoration-line: underline;
  color: #181717;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .section-LrZ .info-w7b .auto-group-uvmb-HBT .auto-group-zgq3-XLh {
  width: 42.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .section-LrZ .info-w7b .auto-group-uvmb-HBT .auto-group-zgq3-XLh .pixologic-zbrush-autodesk-maya-the-foundry-mari-arnold-renderer-blender-forger-UFw {
  width: 42.6rem;
  height: 8.8rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2150000466;
  letter-spacing: -0.054rem;
  color: #181717;
  font-family: Inter, 'Source Sans Pro';
}
.portfolio-about-page-D5o .section-LrZ .info-w7b .auto-group-uvmb-HBT .auto-group-zgq3-XLh .adobe-cc-figma-ableton-Low {
  width: 21.2rem;
  height: 2.2rem;
  position: absolute;
  left: 0.1rem;
  top: 7.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2150000466;
  letter-spacing: -0.054rem;
  color: #181717;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio-about-page-D5o .section-LrZ .info-w7b .auto-group-z1nd-2gm {
  margin-right: 4.3rem;
  width: calc(100% - 4.3rem);
  display: flex;
  align-items: flex-start;
}
.portfolio-about-page-D5o .section-LrZ .info-w7b .auto-group-z1nd-2gm .main-skills-NVj {
  margin: 0.3rem 10.1rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2150000466;
  letter-spacing: -0.054rem;
  text-decoration-line: underline;
  color: #181717;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .section-LrZ .info-w7b .auto-group-z1nd-2gm .organic-and-polygonal-modeling-uv-layout-texturing-retopology-ilustration-sound-design-HMo {
  max-width: 38.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2150000466;
  letter-spacing: -0.054rem;
  color: #181717;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.portfolio-about-page-D5o .section-LrZ .contact-Ne9 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .section-LrZ .contact-Ne9 .seperator-YHj {
  margin-bottom: 7.1rem;
  width: 100%;
  height: 0.2rem;
  background-color: #181717;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .section-LrZ .contact-Ne9 .auto-group-weqm-tMb {
  margin-right: 8rem;
  width: calc(100% - 8rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .section-LrZ .contact-Ne9 .auto-group-weqm-tMb .auto-group-npsj-dKB {
  margin-right: 32.7rem;
  width: 34.2rem;
  height: 7.5rem;
  position: relative;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .section-LrZ .contact-Ne9 .auto-group-weqm-tMb .auto-group-npsj-dKB .i-am-thrilled-to-answer-to-your-next-project-kub {
  width: 34.2rem;
  height: 7.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.1699999571;
  letter-spacing: -0.096rem;
  color: #181717;
  font-family: DM Sans, 'Source Sans Pro';
}
.portfolio-about-page-D5o .section-LrZ .contact-Ne9 .auto-group-weqm-tMb .auto-group-npsj-dKB .item--sDX {
  width: 2.4rem;
  height: 2.1rem;
  position: absolute;
  left: 25.9rem;
  top: 4.6rem;
  object-fit: contain;
  vertical-align: top;
}
.portfolio-about-page-D5o .section-LrZ .contact-Ne9 .auto-group-weqm-tMb .auto-group-wwuf-Bzu {
  margin-top: 0.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .section-LrZ .contact-Ne9 .auto-group-weqm-tMb .auto-group-wwuf-Bzu .makifkarasuoutlookcom-wjB {
  margin-bottom: 2.6rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.1699999571;
  letter-spacing: -0.096rem;
  color: #181717;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .section-LrZ .contact-Ne9 .auto-group-weqm-tMb .auto-group-wwuf-Bzu .view-resume-rr9 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2150000466;
  letter-spacing: -0.054rem;
  color: #181717;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .footer-nE1 {
  margin-right: 0.3442rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .footer-nE1 .mehmet-akif-karasu-2020-jf3 {
  margin-right: 53.5646rem;
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 1.2000000363;
  letter-spacing: -0.063rem;
  color: #2429af;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .footer-nE1 .artstation-3fj {
  margin-right: 3.6956rem;
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 1.2000000363;
  letter-spacing: -0.063rem;
  color: #181717;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .footer-nE1 .linkedin-Nxu {
  margin-right: 5.1956rem;
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 1.2000000363;
  letter-spacing: -0.063rem;
  color: #181717;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio-about-page-D5o .footer-nE1 .twitter-W3X {
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 1.2000000363;
  letter-spacing: -0.063rem;
  color: #181717;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
